09_WCF/WCF 조별 과제/03_비동기/02_서비스 비동기 호출/StockQuotes/Service References/YahooQuotes/YahooQuotes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="YahooQuotes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IYahooQuotes_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IYahooQuotes_TestService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="IYahooQuotes_TestService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IYahooQuotes_GetQuoteForStockSymbol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteForStockSymbol" />
  </wsdl:message>
  <wsdl:message name="IYahooQuotes_GetQuoteForStockSymbol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteForStockSymbolResponse" />
  </wsdl:message>
  <wsdl:portType name="IYahooQuotes">
    <wsdl:operation name="TestService">
      <wsdl:input wsaw:Action="http://tempuri.org/IYahooQuotes/TestService" message="tns:IYahooQuotes_TestService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYahooQuotes/TestServiceResponse" message="tns:IYahooQuotes_TestService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteForStockSymbol">
      <wsdl:input wsaw:Action="http://tempuri.org/IYahooQuotes/GetQuoteForStockSymbol" message="tns:IYahooQuotes_GetQuoteForStockSymbol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYahooQuotes/GetQuoteForStockSymbolResponse" message="tns:IYahooQuotes_GetQuoteForStockSymbol_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IYahooQuotes" type="tns:IYahooQuotes">
    <wsp:PolicyReference URI="#WSHttpBinding_IYahooQuotes_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestService">
      <soap12:operation soapAction="http://tempuri.org/IYahooQuotes/TestService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteForStockSymbol">
      <soap12:operation soapAction="http://tempuri.org/IYahooQuotes/GetQuoteForStockSymbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YahooQuotes">
    <wsdl:port name="WSHttpBinding_IYahooQuotes" binding="tns:WSHttpBinding_IYahooQuotes">
      <soap12:address location="http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>