09_WCF/WCF 조별 과제/03_비동기/02_서비스 비동기 호출/StockQuotes/Service References/YahooQuotes/YahooQuotes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsubit-pc:8080/YahooQuotes/YahooQuotes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intParam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteForStockSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteForStockSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetQuoteForStockSymbolResult" nillable="true" type="q1:StockQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>