08_Programming .NET 3.5/책 예제/Chapter11Src/Chapter11Src/StockQuotes/Backup/StockQuotes/Service References/YahooQuotes/YahooQuotes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StockQuote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Change" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfTrade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastTradePrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Open" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentageChange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousClose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeOfTrade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volume" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockQuote" nillable="true" type="tns:StockQuote" />
</xs:schema>